<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content class="ion-align-items-end">
  <ion-grid>
    <ion-row
      *ngFor="let btnElement of btnElements"
      class="ion-align-items-center"
    >
      <ion-col size="3">
        <ion-img [src]="btnElement.img"></ion-img>
      </ion-col>
      <ion-col>
        <ion-button
          expand="block"
          class="ion-margin-vertical"
          size="large"
          color="warning"
          [routerLink]="btnElement.link"
        >
          <span class="btn-text">{{btnElement.text}}</span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="warning-card" color="dark">
    <ion-card-title class="warning-card__title">Nota importante</ion-card-title>
    <ion-card-content class="warning-card__text"
      ><p>
        Esta aplicación se encuentra en desarrollo y lo que estás viendo es sólo
        una prueba para el testeo de la misma.
      </p>
      <p>
        El contenido (imágenes, texto ...) no es definitivo y en muchos casos
        está obtenido de forma aleatoria de la web (salvo en el caso de
        <a
          class="warning-card__link"
          href="https://bbguias.wordpress.com/"
          target="_blank"
          rel="noopener noreferrer"
          >Blood Bowl Guías</a
        >
        que muy amablemente me ha permitido contar con algunos de sus textos
        para la aplicación.
      </p>
      <p>
        Si consideras que alguna de las imagenes provisionales no deberían estar
        o
        <b
          >quieres contribuir con la aplicación aportando fotos de tus minis o
          equipos (te incluiré como contribuidor)</b
        >
        ponte en
        <a
          class="warning-card__link"
          href="mailto:jlagomez@gmail.com"
          target="_blank"
          rel="noopener noreferrer"
          >contacto conmigo</a
        >
      </p>
    </ion-card-content>
  </ion-card>
  <app-back-btn></app-back-btn>
</ion-content>
