<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content> -->

<ion-content class="ion-padding ">
  <div class="center">
    <ion-img class="img " src="assets/img/home_logo.png"></ion-img>
  </div>
  <h1 class="title">
    Blood Bowl <br />
    APP
  </h1>
  <p class="subtitle">
    ¡ Consulta todos los datos <br />
    que necesitas en tus partidas !
  </p>

  <ion-button
    expand="block"
    class="ion-margin-vertical"
    size="large"
    color="warning"
    routerLink="/main-menu"
    ><span class="btn-text">entrar</span></ion-button
  >
</ion-content>
