@font-face {
  font-family: 'Lato';
  src: url('src/assets/fonts/Lato/Lato-Black/Lato-Black.woff2') format('woff2'),
    url('src/assets/fonts/Lato/Lato-Black/Lato-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('src/assets/fonts/Lato/Lato-Bold/Lato-Bold.woff2') format('woff2'),
    url('src/assets/fonts/Lato/Lato-Bold/Lato-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lato Hairline';
  src: url('src/assets/fonts/Lato/Lato-Hairline/Lato-Hairline.woff2')
      format('woff2'),
    url('src/assets/fonts/Lato/Lato-Hairline/Lato-Hairline.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('src/assets/fonts/Lato/Lato-Light/Lato-Light.woff2') format('woff2'),
    url('src/assets/fonts/Lato/Lato-Light/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('src/assets/fonts/Lato/Lato-Regular/Lato-Regular.woff2')
      format('woff2'),
    url('src/assets/fonts/Lato/Lato-Regular/Lato-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Permanent Marker';
  src: url('src/assets/fonts/PermanentMarker/PermanentMarker-Regular.woff2')
      format('woff2'),
    url('src/assets/fonts/PermanentMarker/PermanentMarker-Regular.woff')
      format('woff');
  font-weight: normal;
  font-style: normal;
}
